@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap');
/*Header Styles*/
/*Thanks Xander for helping with my background and header*/
body {
    width: 1500px;
    font-family: arial, Helvetica, verdana;
    background-color: rgba(132, 236, 250, 0.61);
    background-image: url(https://th.bing.com/th/id/R.8a728f044fe0eae5051b7e82a9e294f4?rik=agI6scRP9Zyz3w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fRFU8WaL.jpg&ehk=Kmlap9GlG9qxUFGrXr045dM2JtjREItnrMB1ZW%2fJlg4%3d&risl=&pid=ImgRaw);
    background-size: 3500px;
}
.mainlogo{ 
    margin-left: 250px;
    text-align: center;
    font-size: 90px;
    background-color:rgba(56, 105, 211, 0.445);
    border-radius: 10px;
    border: solid;
    border-color: rgba(15, 13, 13, 0.226);
    margin-top: 0px;
    width: 1100px;
    font-family: 'Tourney';
}
header nav {
    
    display: table-row;
    align-content: center;
    background-color: rgba(64, 117, 231, 0.247);    
    position: absolute;
    left: 490px;
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
header nav ul {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
header nav ul li{
    padding: 2px;
    display: table-cell;
    list-style: none;
    background-color: rgba(68, 89, 211, 0.336);
    max-width: 250px;
    margin: 10px;
    border: solid rgba(0, 0, 0, 0.507) 1px;
    border-collapse: collapse;
    margin-bottom: 0px;
    font-size: larger;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-radius: 5px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 00);
}

header nav ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);

    text-decoration: none;

}
/**/
div#myCarousel {
    position: absolute;
    top: 750px;
    left: 750px;
}