
article aside{
    margin-left: 350px;
    margin-top: 150px;
    background-color: rgba(55, 106, 216, 0.699);   
    max-width: 400px; 
    font-size: 24px;
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
article aside h1 {
    vertical-align: top;
    max-width: 400px; 
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px; 
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
.me {
    position: absolute;
    left: 850px;
    top: 245px;
    border-radius: 10px;
    border-width: 4px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
/*For news and announcements*/
.news {
    text-align: center;
    background-color: rgba(56, 105, 211, 0.803);
    border: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
    left: 420px;
    width: 650px;

}
.eastlink {
position: relative;
left: 792px;
top: 50px;
    width: 400px;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 6.288);
    background-color: rgba(56, 105, 211, 0.803); 
}
.eastlinkdesc {
    top: 50px;
    position: relative;
    left: 792px;
    width: 400px;
    font-size: 22px;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(49, 49, 49, 0.849);
    background-color: rgba(56, 105, 211, 0.803); 
}
.eastlinkimg {
    position: relative;
    bottom: 300px;
    left: 355px;
    border-radius: 10px;
    border-color: rgba(27, 24, 24, 0.692);
    border: solid;
    border-width: 2px;
}
.cjlsheader {
    position: absolute;
    top: 1200px;
    left: 792px;
    width: 400px;
    vertical-align: top;
    border-width: 4px;
    border: solid;
    border-radius: 10px;
    border-color: rgba(56, 50, 50, 0.815);
    background-color: rgba(56, 105, 211, 0.803); 
}
.cjlsarticle {
    position: absolute;
    left: 792px;
    width: 400px;
    top: 1270px;
    border-width: 4px;
    font-size: 22px;
    border: solid;
    border-radius: 10px;
    border-color: rgba(48, 45, 45, 0.829);
    background-color: rgba(56, 105, 211, 0.803); 
}

/*For the about page*/
.about {
    position: absolute;
    top: 250px;
    max-width: 200px;
    left: 400px;

}
.abouthead {
    left: 75px;
    text-align: center;
    background-color: rgba(56, 105, 211, 0.803);
    border-radius: 10px;    
    border: solid rgba(131, 130, 130, 0.288) 1px;
    border-radius: 10px;

}
.aboutme {
    box-shadow:  20px, 0px, 40px, 20px rgb(27, 24, 24);
    padding: 6px;
    position: relative;
    width: 400px;
    float: left;
    border: solid rgba(131, 130, 130, 0.288) 1px;
    border-radius: 10px;
    background-color: rgba(63, 166, 192, 0.8);
    font-size: 22px;
}
.me2 {
    position: absolute;
    left: 850px;
    top: 300px;
}
/*For the donation page header*/
.donatehead {
    position: absolute;
    top: 250px;
    left: 430px;
    border: solid rgba(131, 130, 130, 0.288) 1px;
    border-radius: 10px;
    min-width: 700px;
    text-align: center;
    background-color: rgba(87, 197, 224, 0.747);
    
}
img#appimages {
    position: relative;
    top: 625px;
    left: 300px;
    margin-left: 30px;
    border: solid rgba(56, 54, 54, 0.733) 2px;
    border-radius: 10px;
    margin-bottom: 15px;
}