body {
    width: 1500px;
    font-family: arial, Helvetica, verdana;
    background-color: rgba(131, 181, 255, 0.541);
    
}

.mainlogo{
    margin-left: 480px;
    text-align: center;
    font-size: 80px;
    background-color:rgba(56, 105, 211, 0.803);
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
    margin-top: 0px;
    width: 600px;
    box-shadow: 0px, 0px, 15px, 30px slategrey;

}
header nav {
    
    display: table-row;
    align-content: center;
    background-color: rgba(56, 105, 211, 0.803);    
    position: absolute;
    left: 500px;
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
header nav ul {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
header nav ul li{
    display: table-cell;
    list-style: none;
    background-color: rgba(19, 178, 218, 0.658);
    margin: 10px;
    text-align: center;
    max-width: 250px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
    border-collapse: collapse;
    border-width: 1px;
    font-size: larger;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-radius: 5px;
}

header nav ul li a {
    text-decoration: none;

}

header nav ul li a:hover {
    text-decoration: underline;
    color: powderblue;
    background-color: steelblue;
}
article aside{
    margin-left: 350px;
    margin-top: 150px;
    background-color: rgba(56, 105, 211, 0.803);   
    max-width: 400px; 
    font-size: 24px;
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
article aside h1 {
    vertical-align: top;
    max-width: 400px; 
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px; 
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
.me {
    position: absolute;
    left: 850px;
    top: 245px;
    border-radius: 10px;
    border: solid;
    border-color: rgba(131, 130, 130, 0.288);
}
.news {
    text-align: center;
    background-color: rgba(56, 105, 211, 0.803);
    border-radius: 10px;
    position: relative;
    left: 600px;
    width: 400px;

}
.eastlink {
position: relative;
left: 892px;
    width: 250px;
    vertical-align: top;
    border: solid;
    border-radius: 10px;
    border-color: rgba(131, 130, 130, 0.288);
    background-color: rgba(56, 105, 211, 0.803); 
}
.eastlinkdesc {
    position: relative;
    left: 892px;
    width: 250px;
    font-size: 25px;
    border: solid;
    border-radius: 10px;
    border-color: rgba(131, 130, 130, 0.288);
    background-color: rgba(56, 105, 211, 0.803); 
}
.eastlinkimg {
    position: relative;
    bottom: 450px;
    left: 450px;
}
.cjlsheader {
    position: relative;
left: 892px;
    width: 250px;
    vertical-align: top;
    border: solid;
    border-radius: 10px;
    border-color: rgba(131, 130, 130, 0.288);
    background-color: rgba(56, 105, 211, 0.803); 
}
.cjlsarticle {
    position: relative;
    left: 892px;
    width: 250px;
    font-size: 25px;
    border: solid;
    border-radius: 10px;
    border-color: rgba(131, 130, 130, 0.288);
    background-color: rgba(56, 105, 211, 0.803); 
}
.about {
    position: absolute;
    top: 250px;
    max-width: 200px;
    left: 490px;

}
.abouthead {
    text-align: center;
    background-color: rgba(48, 211, 252, 0.8);
    border-radius: 10px;    
    border: solid rgba(131, 130, 130, 0.288) 1px;
    border-radius: 10px;

}
.aboutme {
    position: relative;
    float:left;
    border: solid rgba(131, 130, 130, 0.288) 1px;
    border-radius: 10px;
    background-color: rgba(56, 105, 211, 0.803);
    font-size: 18px;
}
.me2 {
    position: absolute;
    left: 750px;
    top: 270px;
}
.donatehead {
    position: absolute;
    top: 250px;
    left: 250px;
    border: solid rgba(131, 130, 130, 0.288) 1px;
    border-radius: 10px;

}