html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body h1{
    color: black;
    text-align: center;
    display: block;
    border: black 2px solid;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
}
body a {
    float: left;
    display: block;
    border: black 2px solid;
    border-radius: 5px;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    margin: 20px;
    font-size: 40px;
}
body a:first-of-type{
    margin-left: 200px;
}
body a:hover {
    background-color: black;
    color: white;
}
body img {
    margin-left: 240px;
}

body p{
    margin-left: 240px;
}