fieldset#namenstuff {
    float: left ;
    width: 400px;
    padding: 5px;
}
form#basicinfo input, form#basicinfo label {
    padding: 2px;
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
}

fieldset#cardinfo {
    padding: 5px;
}
form{
    border:rgb(11, 153, 158) solid ;
    border-radius: 13px;
    position: absolute;
    top: 320px;
    left: 455px;
    background-color: rgba(145, 235, 238, 0.911);
    margin-bottom: 50px;
}
form#basicinfo legend {
    font-size: 26px;
    text-decoration: underline;
    border-radius: 10px;
    border: solid rgb(17, 25, 26) 2px;
    text-align: center;
    padding: 5px;
}
button.submitbutton {
    margin-top: 10px;
    border: solid rgb(25, 29, 29) 1px;
    background-color: rgba(53, 217, 223, 0.479);
    border-radius: 10px;
    font-family: fantasy;
    margin-left: 45px;
    font-size: 30px;
}
button.submitbutton:hover + div.thanks4coin  {
    display: block;    

}
div.thanks4coin {
    position: absolute;
    margin-top: 0px;
    border-radius: 10px;
    border: solid rgb(23, 30, 31) 1px;
    background-color: rgb(95, 202, 140);
    width: 280px;
    padding: 2px;
    display: none;
    left: 350px;
    top: 500px;
}
div.thanks4coin p {
    
    font-size: 24px;
    color: black;
}
footer{
    position: relative;
    top: 870px;
    left: 300px;
    width: 1000px;
    font-size: 30px;
    margin-top: 10px;
    border: solid rgb(103, 119, 119) 1px;
    background-color: rgb(12, 214, 214);
    border-radius: 15px;
    padding: 5px;
  
}
input:hover, option:hover, select:hover{
    background-color: rgba(92, 171, 216, 0.288);
}

